@import '@src/views/MainPage/stylesheets/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    width: 312px;
    gap: 64px;
  }
  @include tablet {
    width: 585px;
    gap: 80px;
  }
  @include desktop {
    width: 1200px;
    gap: 80px;
  }
}

.title {
  color: #ffffff;
  word-break: keep-all;
  font-weight: 700;
  line-height: 140%;

  @include mobile {
    width: 215px;
    height: 56px;
    font-size: 20px;
    text-align: center;
  }
  @include tablet {
    width: 335px;
    font-size: 32px;
    text-align: center;
  }
  @include desktop {
    font-size: 40px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  width: 100%;

  @include mobile {
    gap: 16px;
  }
}

.activityList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;

  @include mobile {
    gap: 20px;
  }
  @include tablet {
    gap: 24px;
  }
  @include desktop {
    display: none;
  }

  li {
    padding: 8px 0px;
    font-weight: 600;

    color: #ffffff;
    white-space: nowrap;
    opacity: 0.2;
    cursor: pointer;

    &.selected {
      opacity: 1;
      font-weight: 700;
    }

    @include mobile {
      font-size: 16px;
    }
    @include tablet {
      font-size: 24px;
    }
  }
}

.card {
  display: flex;
  position: relative;

  @include mobile {
    flex-direction: column;
    gap: 8px;
  }
  @include tablet {
    flex-direction: column;
    gap: 16px;
  }
  @include desktop {
    gap: 29px;
  }
}

.imageWrapper {
  position: relative;
  border-radius: 10px;

  @include mobile {
    width: 309px;
    height: 166px;
  }
  @include tablet {
    width: 585px;
    height: 308px;
  }
  @include desktop {
    width: 585px;
    height: 308px;
    opacity: 0.6;
  }

  .cardImage {
    border-radius: 10px;
    background-color: black;
    object-fit: cover;
  }
}

.imageDesc {
  position: absolute;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  white-space: nowrap;

  width: 585px;
  height: 308px;

  .type {
    font-weight: 700;
    font-size: 40px;
  }
}

.cardContent {
  display: flex;
  align-items: center;

  border-radius: 10px;
  background-color: #1a1a20;

  word-break: keep-all;
  font-weight: 400;
  line-height: 160%;

  & > p {
    color: #c8c8c8;
    & > span {
      color: #ffffff;
      font-weight: 600;
    }
  }

  @include mobile {
    width: 309px;
    height: 166px;
    padding: 24px;
    font-size: 14px;
  }
  @include tablet {
    width: 585px;
    height: 224px;
    padding: 48px 56px;
    font-size: 20px;
  }
  @include desktop {
    width: 585px;
    height: 308px;
    padding: 60px 56px;
    font-size: 22px;
  }
}
