@import '@src/views/MainPage/stylesheets/mixins';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    height: 800px;
  }
  @include tablet {
    height: 1242px;
  }
  @include desktop {
    height: calc(100vh - 80px);
  }
}

.textWrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;

  @include mobile {
    top: 78px;
    left: 24px;
    gap: 12px;
  }
  @include tablet {
    top: 160px;
    left: 80px;
    gap: 16px;
  }
  @include desktop {
    top: max(calc(50% + 50px), 300px);
    transform: translate(0, -50%);
    left: 18.8vw;
    gap: 13px;
  }
}

.description {
  font-weight: 600;

  @include mobile {
    font-size: 14px;
    line-height: 140%;
  }
  @include tablet {
    font-size: 20px;
    line-height: normal;
  }
  @include desktop {
    font-size: 28px;
    line-height: 40px;
  }
}

.slogan {
  font-weight: 800;
  white-space: pre-wrap;
  line-height: 110%;

  @include mobile {
    width: 253px;
    font-size: 44px;
  }
  @include tablet {
    font-size: 80px;
  }
  @include desktop {
    font-size: 110px;
  }
}

.downArrowWrapper {
  position: absolute;
  z-index: 2;
  cursor: pointer;

  @include mobile {
    top: 696px;

    & > svg {
      width: 24px;
      height: 24px;
    }
  }
  @include tablet {
    top: 1114px;

    & > svg {
      width: 48px;
      height: 48px;
    }
  }
  @include desktop {
    top: max(calc(85% + 50px), 650px);

    & > svg {
      width: 64px;
      height: 64px;
    }
  }
}

.bannerWrapper {
  position: relative;
  width: 100vw;

  @include mobile {
    top: 48px;
    height: 752px;
  }
  @include tablet {
    top: 80px;
    height: 1162px;
  }
  @include desktop {
    top: 80px;
    height: inherit;
  }
}

.bannerImage {
  opacity: 0.7;
  object-fit: cover;
}

.bannerGradient {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: inherit;

  background: linear-gradient(
    180deg,
    #16161c 25.43%,
    rgba(22, 22, 28, 0.21) 45.89%,
    rgba(22, 22, 28, 0) 64.38%,
    #16161c 83.43%
  );

  @include desktop {
    background: linear-gradient(
      180deg,
      #16161c 7.73%,
      rgba(22, 22, 28, 0.21) 46.18%,
      #16161c 84.75%
    );
  }
}
