@import '@src/styles/mixins';

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    height: 800px;
  }

  @include tablet {
    height: 1242px;
  }

  @include desktop {
    height: 1080px;
  }
}

.description {
  position: absolute;
  text-align: center;
  z-index: 2;

  @include mobile {
    top: 128px;
    width: 210px;
    height: 52px;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
  }
}

.slogan {
  position: absolute;
  text-align: center;
  z-index: 2;

  @include mobile {
    top: 424px;
    width: 280px;
    height: 232px;

    font-weight: 900;
    font-size: 50px;
    line-height: 58px;
  }
}

.downArrow {
  position: absolute;
  color: white;
  z-index: 2;

  @include mobile {
    top: 696px;
  }

  @include tablet {
    top: 1114px;
  }

  @include desktop {
    top: 916px;
  }
}

.bannerImage {
  opacity: 0.6;
  background-image: linear-gradient(180deg, #181818, rgba(24, 24, 24, 0) 43.49%, #181818 79.91%);
}
