@import '@src/views/MainPage/stylesheets/mixins';

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    height: 800px;
  }
  @include tablet {
    height: 800px;
  }
  @include desktop {
    height: 900px;
  }
}

.description {
  position: absolute;
  text-align: center;
  z-index: 2;
  color: #ffffff;
  font-weight: 500;
  word-break: keep-all;

  @include mobile {
    top: 128px;
    width: 210px;
    height: 52px;
    font-size: 18px;
    line-height: 26px;
  }
  @include tablet {
    top: 160px;
    width: 320px;
    height: 84px;
    font-size: 28px;
    line-height: 42px;
  }
  @include desktop {
    top: 170px;
    width: 800px;
    height: 40px;
    font-size: 30px;
    line-height: 30px;
  }
}

.slogan {
  position: absolute;
  top: 300px;
  text-align: center;
  font-weight: 900;
  z-index: 2;
  word-break: keep-all;

  @include mobile {
    width: 280px;
    height: 232px;
    font-size: 50px;
    line-height: 58px;
  }
  @include tablet {
    width: 575px;
    height: 300px;
    font-size: 80px;
    line-height: 100px;
  }
  @include desktop {
    width: 900px;
    height: 400px;
    top: 250px;
    font-size: 100px;
    line-height: 120px;
  }
}

.downArrowWrapper {
  position: absolute;
  z-index: 2;
  cursor: pointer;

  @include mobile {
    top: 630px;
    & > svg {
      color: white;
      width: 24px;
      height: 24px;
    }
  }
  @include tablet {
    top: 630px;
    & > svg {
      color: white;
      width: 48px;
      height: 48px;
    }
  }
  @include desktop {
    top: 630px;
    & > svg {
      color: white;
      width: 64px;
      height: 64px;
    }
  }
}

.bannerImage {
  opacity: 0.6;
  background-image: linear-gradient(180deg, #181818, rgba(24, 24, 24, 0) 43.49%, #181818 79.91%);
  object-fit: cover;
}
