@import '@src/lib/styles/mixins';

.wrapper {
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  box-shadow: 0rem 4rem 8rem rgba(0, 0, 0, 0.25);
  background: #242424;

  @include mobile {
    width: 56rem;
    height: 56rem;
    right: 20rem;
    bottom: 105rem;
    border-radius: 50%;
  }

  @include tablet {
    width: 70rem;
    height: 70rem;
    border-radius: 50%;
    right: 40rem;
    bottom: 120rem;
  }

  @include desktop {
    width: 123rem;
    height: 80rem;
    border-radius: 52rem;
    right: 100rem;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16rem 32rem;
  }

  animation: fadein 0.4s;
}

.text {
  font-weight: 600;
  font-size: 24rem;
  line-height: 48rem;
  color: #ffffff;
  @include mobile-tablet {
    display: none;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
