@import '@src/lib/styles/mixins';

.total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
list-container는 description, count, card-list 영역을 가짐.
세 개의 영역 모두 65% 의 width를 가짐
*/

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  min-height: 1140px;

  @include desktop {
    height: 100%;
    width: 100%;
  }

  @include mobile-tablet {
    height: 100%;
    width: 100%;
  }
}

.selection-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 36px;
  margin-bottom: 16px;

  @include mobile {
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 14px;
  }
}

.category-description {
  color: #C3C3C6;
  font-size: 18px;
  font-weight: 500;
  line-height: 165%; 
  letter-spacing: -0.27px;

  @include tablet-small {
    font-size: 14px;
    letter-spacing: -0.21px;
  }

  @include mobile {
    color: #F0F0F0;
    font-size: 14px;
    letter-spacing: -0.21px;
    padding: 16px;
    background-color: #202025;
    border-radius: 16px;
  }
}

.list-count {
  color: #C3C3C6;
  font-size: 18px;
  font-weight: 500;
  line-height: 165%; 
  letter-spacing: -0.27px;

  @include tablet-small {
    font-size: 14px;
    letter-spacing: -0.21px;
  }

  @include mobile {
    font-size: 14px;  
    letter-spacing: -0.21px;
  }
  
}

.card-list {
  width: 100%;
  display: grid;

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  @include tablet-medium {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    gap: 20px;
  }

  @include tablet-small {
    grid-template-columns: 1fr 1fr;
    width: 662px;
    gap: 20px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.spinner {
  margin-top: 50px;
}

.skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #353535;
  border-radius: 10px;
  // background-color: white;

  @include desktop {
    width: 380px;
    height: 468px;
  }

  @include mobile-tablet {
    width: 328px;
    height: 402px;
  }

  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #242424;
    border-radius: 10px;

    @include desktop {
      width: 368px;
      height: 208px;
      margin: 7px;
      padding-bottom: 5px;
    }

    @include mobile-tablet {
      width: 316px;
      height: 176px;
      margin: 5px;
      padding-bottom: 5px;
    }
  }

  .type-list {
    width: 95%;
    height: 36px;
    display: flex;
    margin-top: 16px;

    .type {
      width: 40px;
      background: #242424;
      border-radius: 10px;
    }
    .type:first-child {
      height: 36px;
      margin-right: 10px;
    }
    .type:nth-child(2) {
      width: 61px;
    }
  }

  .description {
    width: 95%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;

    .long-line {
      height: 20px;
      background: #242424;
      border-radius: 10px;
    }

    .short-line {
      width: 50%;
      height: 20px;
      background: #242424;
      border-radius: 10px;
    }
  }
}
