@import '@src/styles/mixins';

.enroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;

  .content {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
    cursor: pointer;
  }

  @include desktop {
    height: 402px;
    p {
      font-size: 22px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.5);
      padding-bottom: 10px;
    }

    span {
      font-size: 22px;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  @include mobile-tablet {
    height: 402px;

    p {
      font-size: 15px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.5);
      padding-bottom: 10px;
    }

    span {
      font-size: 15px;
      font-weight: 700;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
