@import '@src/styles/mixins';

.enroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-style: normal;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: #ffffff;
    background-color: #504ebf;
    border-radius: 30px;
    padding: 12px 20px;
    &:hover {
      background-color: #413fac;
    }
  }

  @include desktop {
    height: 402px;
    p {
      font-size: 22px;
      font-weight: 500;
      padding-bottom: 10px;
    }

    span {
      font-size: 22px;
      font-weight: 700;
    }
  }

  @include mobile-tablet {
    height: 402px;

    p {
      font-size: 15px;
      font-weight: 500;
      padding-bottom: 10px;
    }

    span {
      font-size: 15px;
      font-weight: 700;
    }
  }
}
