@import '@src/views/MainPage/stylesheets/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  @include mobile {
    width: 312px;
  }
  @include tablet {
    width: 585px;
  }
  @include desktop {
    width: 1200px;
  }
}

.title {
  font-weight: 700;
  text-align: center;

  @include mobile {
    white-space: pre-wrap;
    font-size: 20px;
    line-height: 28px;
  }
  @include tablet {
    font-size: 32px;
    line-height: 140%;
  }
  @include desktop {
    font-size: 40px;
    line-height: 140%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;

  @include mobile {
    gap: 32.81px;
  }
  @include tablet {
    gap: 48px;
  }
}

.moreLink {
  cursor: pointer;
  font-weight: 500;
  color: #959595;
  text-decoration: underline;
  line-height: 140%;

  @include mobile {
    font-size: 14px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 22px;
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    width: 100vw;
    padding: 0 16px;
  }
  @include tablet {
    width: 100vw;
    padding: 0 24px;
  }
  @include desktop {
    width: 1200px;
  }
}

.arrowWrapper {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;

    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
}

.selected {
  opacity: 0.2;
  cursor: not-allowed;
}

.content {
  display: flex;

  @include mobile {
    overflow-x: scroll;
    gap: 16px;
  }
  @include tablet {
    overflow-x: scroll;
    gap: 24px;
  }
  @include desktop {
    max-width: 1008px;
    overflow-x: hidden;
    gap: 24px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #1a1a20;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    min-width: 204px;
    height: 182px;
    padding: 20px;
  }
  @include tablet {
    min-width: 320px;
    height: 300px;
    padding: 46px 34px;
  }
  @include desktop {
    min-width: 320px;
    height: 300px;
    padding: 46px 34px;
  }
}

.cardTitle {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;

  color: #c8c8c8;
  font-weight: 500;

  @include mobile {
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.32px;
  }
  @include tablet {
    font-size: 25px;
    line-height: 40px;
  }
  @include desktop {
    font-size: 25px;
    line-height: 40px;
  }
}

.descWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.desc {
  color: #848484;
  font-weight: 500;
  white-space: pre-wrap;

  @include mobile {
    font-size: 16px;
    line-height: 20px;
  }
  @include tablet {
    font-size: 25px;
    line-height: 40px;
  }
  @include desktop {
    font-size: 22px;
    line-height: 32px;
  }
}

.descName {
  font-weight: 700;
}

.arrow {
  @include mobile {
    width: 18px;
    height: 18px;
  }
  @include tablet {
    width: 30px;
    height: 30px;
  }
  @include desktop {
    width: 30px;
    height: 30px;
  }
}
