@import '@src/views/MainPage/stylesheets/mixins';

.container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    max-width: 360px;
    gap: 100px;
  }
  @include tablet {
    max-width: 766px;
    gap: 150px;
  }
  @include desktop {
    max-width: 1200px;
    gap: 190px;
  }
}
