@import '@src/views/MainPage/stylesheets/mixins';

.container {
  display: flex;
  justify-content: center;
  position: relative;

  @include mobile {
    margin: 100px 0 240px 0;
  }
  @include tablet {
    margin: 208.5px 0 240px 0;
  }
  @include desktop {
    margin: 280px 0 240px 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    max-width: 360px;
    gap: 200px;
  }
  @include tablet {
    max-width: 766px;
    gap: 200px;
  }
  @include desktop {
    max-width: 1200px;
    gap: 240px;
  }
}
