.total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;

  align-items: flex-end;
  @media (max-width: 1279px) {
    align-items: center;
  }
}

.list-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 130px;

  @media (max-width: 1279px) {
    margin-top: 90px;
  }

  .total-count {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 50px 0;

    & > div {
      color: #8e8e8e;
      font-size: 24px;
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;

      @media screen and (max-width: 1280px) {
        font-size: 22px;
        padding-left: 0;
      }

      @media screen and (max-width: 766px) {
        padding: 0;
      }
    }
  }

  .list-data-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 280px;
    gap: 20px;

    @media screen and (max-width: 1280px) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 0 160px;
    }

    @media screen and (max-width: 766px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 0;
    }
  }
}
