@import '@src/views/MainPage/stylesheets/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    width: 312px;
    height: 266px;
  }
  @include tablet {
    width: 585px;
    height: 558px;
  }
  @include desktop {
    width: 1200px;
    height: 436px;
    gap: 100px;
  }
}

.title {
  color: #ffffff;
  text-align: center;
  word-break: keep-all;
  font-weight: 700;

  @include mobile {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.22px;
  }
  @include tablet {
    white-space: pre-wrap;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -0.32px;
  }
  @include desktop {
    font-size: 44px;
    line-height: 140%;
    letter-spacing: -0.88px;
  }
}

.content {
  display: grid;
  padding: 80px 0;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 60px;
    padding-top: 48px;
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 64px 120px;
    padding: 60px 0;
  }
  @include desktop {
    grid-template-columns: repeat(4, auto);
    gap: 100px;
  }
}

.item {
  display: flex;
  flex-direction: column;

  h5 {
    font-weight: 400;
    color: #787878;
  }
  span {
    font-weight: 700;
    color: #ffffff;
  }

  @include mobile {
    gap: 4px;

    h5 {
      font-size: 16px;
      line-height: 24px;
    }
    span {
      font-weight: 600;
      font-size: 30px;
      line-height: 38px;
    }
  }
  @include tablet {
    gap: 12px;

    h5 {
      font-size: 24px;
      line-height: normal;
      letter-spacing: -0.24px;
    }
    span {
      font-size: 56px;
      line-height: 60px;
      white-space: nowrap;
    }
  }
  @include desktop {
    gap: 24px;

    h5 {
      font-size: 30px;
      line-height: 30px;
    }
    span {
      font-size: 60px;
      line-height: 60px;
      white-space: nowrap;
    }
  }
}
