@import '@src/views/MainPage/stylesheets/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    width: 312px;
    gap: 48px;
  }
  @include tablet {
    width: 585px;
    gap: 80px;
  }
  @include desktop {
    width: 1200px;
    gap: 80px;
  }
}

.title {
  word-break: keep-all;
  font-weight: 700;
  line-height: 140%;

  @include mobile {
    font-size: 20px;
  }
  @include tablet {
    font-size: 32px;
  }
  @include desktop {
    font-size: 40px;
  }
}

.content {
  display: flex;
  @include mobile {
    flex-direction: column;
    gap: 8px;
  }
  @include tablet {
    flex-direction: column;
    gap: 16px;
  }
  @include desktop {
    gap: 30px;
  }
}

.card {
  display: flex;
  flex-direction: column;

  background-color: #1a1a20;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    width: 312px;
    height: 102px;
    padding: 28px;

    gap: 9px;
  }
  @include tablet {
    width: 585px;
    height: 169px;
    padding: 48px 40px;

    gap: 17px;
  }
  @include desktop {
    padding: 60px 40px;
    width: 381px;
    height: 201px;

    gap: 24px;
  }
}

.nameWrapper {
  display: flex;
  align-items: center;
}

.name {
  color: #c8c8c8;
  line-height: 100%;
  font-weight: 700;

  @include mobile {
    font-size: 16px;
  }
  @include tablet {
    font-size: 30px;
  }
  @include desktop {
    font-size: 30px;
  }
}

.arrow {
  width: 30px;
  height: 30px;

  @include mobile {
    width: 18px;
    height: 18px;
  }
}

.desc {
  color: #848484;
  font-weight: 500;
  word-break: keep-all;

  @include mobile {
    font-size: 15px;
    line-height: 22px;
  }
  @include tablet {
    font-size: 25px;
    line-height: 40px;
  }
  @include desktop {
    font-size: 22px;
    line-height: normal;
  }
}
