@import '@src/styles/mixins';

@include desktop {
  .project-filter {
    position: fixed;
    left: 60px;
    top: 180px;
    width: 180px;
    height: 500px;
    background: #181818;
    border-radius: 10px 10px 0px 0px;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
    }
  }

  .content {
    width: 100%;
    height: 60%;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .category-name {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0;

      svg.isRotated {
        transform: rotate(90deg);
      }

      h4 {
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
        margin-left: 10px;
      }
    }

    .categories {
      flex-direction: column;
      display: flex;

      margin-top: 15px;
      padding-left: 10px;
      gap: 18px;

      span {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 180px;
        height: 42px;
        border-radius: 10px;
        padding-left: 18px;
        cursor: pointer;

        color: #cccccc;
        font-size: 17px;
        &.isClicked {
          color: #ffffff;
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }
}
