@import '@src/styles/mixins';

.wrapper {
  width: 100%;
  min-height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(24, 24, 24, 0.9);
  backdrop-filter: blur(20px);
  z-index: 100;

  @include tablet {
    height: 48px;
    padding: 0 48px;
  }

  @include mobile {
    height: 48px;
    min-height: 48px;
    padding: 0 20px;
    justify-content: space-between;
  }
}
