@import '@src/views/MainPage/stylesheets/mixins';

.container {
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 312px;
    height: 356px;
  }
  @include tablet {
    width: 585px;
    height: 488px;
  }
  @include desktop {
    width: 1200px;
  }
}

.title {
  display: flex;
  flex-direction: column;

  font-weight: 700;
  text-align: center;
  white-space: nowrap;

  @include mobile {
    white-space: pre-wrap;
    font-size: 20px;
    line-height: 28px;
  }
  @include tablet {
    font-size: 32px;
    line-height: 140%;
  }
  @include desktop {
    font-size: 45px;
    line-height: 140%;
  }
}

.subTitle {
  color: #787878;
  font-weight: 400;
  text-align: center;

  @include mobile {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
  }
  @include tablet {
    font-size: 18px;
    line-height: 20px;
    margin-top: 8px;
  }
  @include desktop {
    font-size: 25px;
    line-height: 30px;
    margin-top: 16px;
  }
}

.content {
  @include mobile {
    margin-top: 48px;
  }
  @include tablet {
    margin-top: 80px;
  }
  @include desktop {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    margin-top: 80px;
  }
}

.partList {
  display: flex;
  overflow-x: scroll;

  @include mobile {
    gap: 20px;
  }
  @include tablet {
    gap: 24px;
  }
  @include desktop {
    display: none;
  }

  li {
    padding: 8px 0px;

    color: #ffffff;
    font-weight: 600;
    line-height: 100%;

    white-space: nowrap;
    opacity: 0.2;
    cursor: pointer;

    &.selected {
      font-weight: 700;
      opacity: 1;
    }

    @include mobile {
      font-size: 16px;
    }
    @include tablet {
      font-size: 24px;
    }
  }
}

.card {
  display: flex;
  border-radius: 10px;
  background-color: #1a1a20;

  color: rgba(253, 253, 253, 0.8);
  word-break: break-all;

  @include mobile {
    width: 312px;
    padding: 24px;
    margin-top: 16px;
  }

  @include tablet {
    width: 585px;
    padding: 48px 56px;
    margin-top: 16px;
  }

  @include desktop {
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    width: 585px;
    height: 368px;
    padding: 40px 56px;
  }
}

.cardContent {
  color: #c8c8c8;
  line-height: 160%;

  @include mobile {
    font-weight: 400;
    font-size: 14px;
  }
  @include tablet {
    font-weight: 400;
    font-size: 20px;
  }
  @include desktop {
    font-weight: 400;
    font-size: 22px;
  }
}

.type {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}
