@import '@src/views/MainPage/stylesheets/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    width: 90%;
    gap: 48px;
  }
  @include tablet {
    width: 75%;
    gap: 100px;
  }
  @include desktop {
    width: 100%;
    gap: 100px;
  }
}

.title {
  font-weight: 800;
  @include mobile {
    font-size: 20px;
    line-height: 28px;
  }
  @include tablet {
    font-size: 36px;
    line-height: 56px;
  }
  @include desktop {
    width: 100%;
    font-size: 45px;
    line-height: 60px;
  }
}

.contentWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowWrapper {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

.content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: column;

  @include mobile {
    overflow-x: scroll;
    height: 185px;
    column-gap: 50px;
    row-gap: 20px;
  }
  @include tablet {
    overflow-x: scroll;
    height: 386px;
    column-gap: 30px;
    row-gap: 64px;
  }
  @include desktop {
    overflow-x: hidden;
    max-width: 900px;
    height: 386px;
    column-gap: 30px;
    row-gap: 64px;
  }
}

.item {
  @include mobile {
    width: 138px;
    height: 60px;
  }
  @include tablet {
    width: 277px;
    height: 161px;
  }
  @include desktop {
    width: 278px;
    height: 161px;
  }
}

.corporateLogoImageWrapper {
  position: relative;
  @include mobile {
    width: 138px;
    height: 60px;
  }
  @include tablet {
    width: 278px;
    height: 121px;
  }
  @include desktop {
    width: 278px;
    height: 121px;
  }
}

.name {
  color: rgba(253, 253, 253, 0.8);
  text-align: center;
  font-weight: 400;
  @include mobile {
    font-size: 12px;
    line-height: 19px;
  }
  @include tablet {
    font-size: 25px;
    line-height: 40px;
  }
  @include desktop {
    font-size: 25px;
    line-height: 40px;
  }
}
