@import '@src/styles/mixins';

.blank {
  width: 65%;
  height: 140px;
  margin: 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    width: 70%;
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);

    @include mobile {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.contour {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
